<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://opensource.keycdn.com/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="jq-key-trapper.js"></script>
</head>

<body class="container">
    <h2>Using AngularJS to build DOM (key-trapper directive -- trap numpad7 & numpad9)</h2>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div key-trapper>
            <div ng-repeat="control in formControls">
                <label>{{control.name}}</label>
                <input type="{{control.type}}" id="{{control.id}}" name="{{control.name}}" 
                    ng-model="control.value" class="{{control.ignore ? 'kt-ignore' : ''}}" />
                    <label>Ignore?<input type="checkbox" class="kt-ignore" ng-model="control.ignore"/></label>
            </div>
            
            <button class="kt-action-button btn btn-primary" ng-click="sendMessage()">Button</button>
        </div>
    </div>

    <h2>Using Static DOM (.kt-container -- trap backspace & numpad1 -- up arrow prev)</h2>
    <form class="kt-container">
        <h3>Form</h3>
        <div>
            <label>Control 1</label> <input type="text" id="id1" />
        </div>
        <div>
            <label>Control 2</label> <input type="text" id="id2" />
        </div>
        <div>
            <div>
                <label>Control 3</label>
                <select id="id6">
                    <option>1</option>
                    <option>3</option>
                    <option>2</option>
                </select>
            </div>

            <label>Ignore (.kt-ignore)</label>
            <input class="kt-ignore" type="text" id="id3" />
            <br />
            <label>Control 4</label> <input type="checkbox" value="123" />
        </div>
        <div>
            <label>Ignore (textarea)</label>
            <textarea type="text" id="id4"></textarea>
            <br/>

            <label>Ignore&nbsp; 3 (disabled)</label>
            <input type="checkbox" value="123" id="id5" disabled="" />
        </div>
        <input type="submit" class="kt-action-button btn btn-primary" value="Input type=submit" />
    </form>
    <div class="kt-container">
        <h3>Div (.kt-container)</h3>
        <div>
            <label>Control 1</label> <input type="text" id="id1" />
        </div>
        <div>
            <label>Control 2</label> <input type="text" id="id2" />
        </div>
        <div>
            <div>
                <label>Control 3</label>
                <select id="id6">
                    <option>1</option>
                    <option>3</option>
                    <option>2</option>
                </select>
            </div>

            <label>Ignore (.kt-ignore)</label>
            <input class="kt-ignore" type="text" id="id3" />
            <br />
            <label>Control 4</label> <input type="checkbox" value="123" />
        </div>
        <a href="#" class="kt-action-button btn btn-primary">a.kt-action-button</a>
    </div>
    <div>
        <h2>Linked kt-containers w/ outside button</h2>
        <h3>Container One (custom onLastInput function -- no action button -- enter with enter key & down arrow)</h3>
        <div class="container-one">
            <div>
                <label>Control 1</label> <input type="text" id="id1" />
            </div>
            <div>
                <label>Control 2</label> <input type="text" id="id2" />
            </div>
            <div>
                <div>
                    <label>Control 3</label>
                    <select id="id6">
                        <option>1</option>
                        <option>3</option>
                        <option>2</option>
                    </select>
                </div>

                <label>Ignore (.kt-ignore)</label>
                <input class="kt-ignore" type="text" id="id3" />
                <br />
                <label>Control 4</label> <input type="checkbox" value="123" />
            </div>
        </div>

        <h3>Container Two (manually defined actionButton)</h3>
        <div class="container-two">
            <div>
                <label>Control 1</label> <input type="text" id="id1" />
            </div>
            <div>
                <label>Control 2</label> <input type="text" id="id2" />
            </div>
            <div>
                <div>
                    <label>Control 3</label>
                    <select id="id6">
                        <option>1</option>
                        <option>3</option>
                        <option>2</option>
                    </select>
                </div>

                <label>Ignore (.kt-ignore)</label>
                <input class="kt-ignore" type="text" id="id3" />
                <br />
                <label>Control 4</label> <input type="checkbox" value="123" />
            </div>
        </div>
        <button id="myBtn" class="button btn btn-primary">Button outside of container</button>
    </div>
</body>

</html>
